<ol class="breadcrumb">
	<li><a href="#/">Inicio</a></li>
</ol>

<ul class="nav nav-pills pull-right" >
     
        <li><a class="btn btn-default" 
	 data-toggle="modal" data-target="#myModal">
	Crear Proyecto
        </a></li>
     	
    <!-- <li><a ng-click="APreCrear()">Crear Nuevo</a></li> -->
</ul> 

<h1>Proyectos registrados</h1>


<table class="table table-hover">
	<tr>
		<th> Nombre </th>
                <!--<th> Participantes </th>-->
		<th> Acción </th>
	</tr>
	<tr ng-repeat='proyecto in filteredTodos | filter:searchText' >
		<td>  
			<a ng-click="AProyecto(proyecto['_id'])"> 
				{{proyecto.nombre}}
			</a> 
		</td>
		<!--
                <td>  
			 <a ng-click="AProyecto(proyecto['_id'])"> 
				{{proyecto.participantes}}
			<!-- </a> 
		</td>-->
                
                <td> 
			<div class="btn-group btn-group-sm">
				<a class="btn btn-default" 
				 data-toggle="modal" data-target="#myModal">
					Modificar
				</a>
                                <a class="btn btn-default" 
				 data-toggle="modal" data-target="#myModal">
					Borrar
				</a>
                                <!--<a ng-click="AModificar(proyecto['_id'])" class="btn btn-default">
					Modificar
				</a> -->
				<!--<a href="#BorrarProyecto/{{proyecto._id}}" class="btn btn-default" 
				 data-toggle="modal" data-target="#myModal">
					Borrar
				</a>
				<a href="#VerProyecto/{{proyecto._id}}#componentes" class="btn btn-default">Ver componentes</a>-->
			</div>
		</td> 
	</tr>
</table>

<!--INICIO DE PAGINACION-->
	<div ng-show="proyectos.length" style="text-align: right">
	    <b><span> Total de resultados: {{proyectos.length}}</span></b>
	</div> 

	<div ng-show="proyectos.length" style="text-align: center">

	    <button type="button" class="btn btn-primary" 
		ng-disabled="currentPage == 1"
		ng-click="currentPage=currentPage-1">PREV &gt; </button>

	    <b><span> Página {{currentPage}} / {{numPages()}} </span></b>
		
	    <button type="button" class="btn btn-primary"
		ng-disabled="currentPage == numPaginas"
		ng-click="currentPage = currentPage+1"> NEXT &gt;</button>
	       
	</div>
	<!--FIN DE PAGINACION-->


