<ol class="breadcrumb">
    <li><a href="./">Inicio</a></li>
    <li class="active">Ver</li>
</ol>

<h1>Carrera {{numero}}</h1>

<ul class="list-group" id="datos">
    <li class="list-group-item list-group-item-info"> Ceremonias </li>
    <li class="list-group-item">
        <a ng_click="AReporte(nombre, 1)">
            Planificación
        </a>
    </li>
    <li class="list-group-item">
        <a ng_click="AReporte(nombre, 2)">
            Careos Diarios
        </a>
    </li>
    <li class="list-group-item">
        <a ng_click="AReporte(nombre, 3)">
            Evaluación de Carrera
        </a>
    </li>
    <li class="list-group-item">
        <a ng_click="AReporte(nombre, 4)">
            Retrospectiva
        </a>
    </li>
    </li>



    <!--<li class="list-group-item" ng-repeat='componente in proyecto["componentes"]'>
        {{componente}}
    </li>-->


    <li class="list-group-item list-group-item-info"> Tareas </li>
    <li class="list-group-item">

        <div class="container-fluid">
            <span class="glyphicon glyphicon-search"></span>
            <input type="text" ng-model="searchText" class="input-medium search-query" placeholder="Buscar">
            <table class="table table-condensed table-hover">
                <tr>
                    <th><a href="" ng-click="nombrePart = 'peso';
                    reversePart = !reversePart">Peso</a></th>
                    <!--<th> Nombre </th>-->
                    <th><a> Estado </a></th>
                    <th><a> Fecha de culminacion </a></th>
                    <th><a> nvo estado </a></th>
                    <th><a> Actualizar</a> </th>
                </tr>

                <tr ng-repeat="tarea in tareas| filter: searchText | orderBy:nombrePart:reversePart" ng-show='tareas.length'>
                    <td>  
                        
                        {{tarea.peso}}

                    </td>
                    <td>  
                        {{tarea.estado}}

                    </td>
                    <td>
                        {{tarea.fechaFin}}
                    </td>
                    <td>
                        <select ng-model='nuevoEstado'>
                                <option value="Completada">Completada</option>
                                <option value="Pendiente">Pendiente</option>
                                <option value="Atrasada">Atrasada</option>
                        </select>                        
                    </td>
                    <td>
                        <a ng_click="AActualizarEstado(tarea._id,nuevoEstado)" > <img src="/views/image/Update.png"> </a>
                    </td>
                </tr>
            </table>
        </div>
    </li>
</ul>