<ol class="breadcrumb">
    <li><a href="./">Inicio</a></li>
    <li class="active">Ver</li>
</ol>

<h1>Carrera {{nombre}}</h1>

<ul class="list-group" id="datos">
    <li class="list-group-item list-group-item-info"> Ceremonias </li>
    <li class="list-group-item">
        <a ng_click="AReporte(nombre, 1)">
            Planificación
        </a>
    </li>
    <li class="list-group-item">
        <a ng_click="AReporte(nombre, 2)">
            Careos Diarios
        </a>
    </li>
    <li class="list-group-item">
        <a ng_click="AReporte(nombre, 3)">
            Evaluación de Carrera
        </a>
    </li>
    <li class="list-group-item">
        <a ng_click="AReporte(nombre, 4)">
            Retrospectiva
        </a>
    </li>
    </li>



    <!--<li class="list-group-item" ng-repeat='componente in proyecto["componentes"]'>
        {{componente}}
    </li>-->
</ul>
