<ol class="breadcrumb">
	<li><a href="#/">Inicio</a></li>
</ol>

<h1>{{nombre}}</h1>
    

<div class="container">

    <div ng-repeat='ceremonia in ceremonias| filter: {tipo: tipo}' >
        <hr>
        <p>
        <span class="glyphicon glyphicon-time"></span>
        {{ceremonia.fecha | date : "'Enviado el' dd-MM-yyyy 'a las' H:MM:ss " }} por {{ceremonia.usuario}}
        </p>

        <p class="lead">
            {{ceremonia.reporte}}
        </p>
        
        <hr>
        
        
        
    </div>



    <div class="well">
        <h4>
            Nuevo Mensaje:
        </h4>

    <form name="fAsociarCeremoniaForm" ng-submit="AAsociarCeremonia(fAsociarCeremoniaForm.$valid)" >
        <div class="form-group">
            <label for="fAsociarCeremonia_usuario">Usuario</label>
            <input type="text" class="form-control" id="fAsociarCeremonia_usuario" name="usuario" ng-model="fAsociarCeremonia.usuario" required>
            <label for="fAsociarCeremonia_reporte">Comentario</label>
            <textarea rows="10" class="form-control" id="fAsociarCeremonia_reporte" name="reporte" ng-model="fAsociarCeremonia.reporte" required></textarea>
        </div>
        <!--    <button type="submit" class="btn btn-default">Asociar</button>-->
        <button type="submit" class="btn btn-success" onclick="window.location.reload()">Enviar</button>
    </form>
        
    </div>
    <hr>

</div>










