<ol class="breadcrumb">
	<li><a href="#/">Inicio</a></li>
</ol>


<h1>{{nombre}}</h1>


<table class="table table-hover">
	<tr>
		<th> Usuario </th>
                <!--<th> Participantes </th>-->
		<th> Reporte </th>
                
                <th> Fecha </th>
	</tr>
	<tr ng-repeat='ceremonia in ceremonias | filter: {tipo: tipo}' >
		<td>  
                    {{ceremonia.usuario}}
		</td>
                <td>  
                    {{ceremonia.reporte}}
		</td>
                <td>  
                    {{ceremonia.fecha}}
		</td>		            
	</tr>
        
</table>


<form name="fAsociarCeremoniaForm" ng-submit="AAsociarCeremonia(fAsociarCeremoniaForm.$valid)" >
                <div class="form-group">
                    <label for="fAsociarCeremonia_usuario">Usuario</label>
                    <input type="text" class="form-control" id="fAsociarCeremonia_usuario" name="usuario" ng-model="fAsociarCeremonia.usuario" required>
                    <label for="fAsociarCeremonia_reporte">Indique Comentario de la Ceremonia</label>
                    <textarea rows="10" class="form-control" id="fAsociarCeremonia_reporte" name="reporte" ng-model="fAsociarCeremonia.reporte" required></textarea>
                </div>
                <!--    <button type="submit" class="btn btn-default">Asociar</button>-->
                <button type="submit" class="btn btn-success" onclick="window.location.reload()">Enviar</button>
</form>










